<mat-toolbar 
  color="primary"
  cdkOverlayOrigin 
  #overlayPosition="cdkOverlayOrigin"
>
  <div class="left-section">
    <button mat-icon-button>
      <mat-icon fontIcon="play_circle"></mat-icon>
    </button>
    <app-searchbar></app-searchbar>  
    <button
      (click)="settingsOverlayOpen.set(true)"
      mat-icon-button
    >
      <mat-icon fontIcon="tune"></mat-icon>
    </button>
  </div>
  <div class="right-section">
    <span [ngClass] = "{bold: true, italic: true}" >Your Name</span>
    <button mat-icon-button>
      <mat-icon fontIcon="account_circle"></mat-icon>
    </button>
  </div>
</mat-toolbar>
<ng-template 
  cdkConnectedOverlay 
  [cdkConnectedOverlayOrigin]="overlayPosition" 
  [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'" 
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="settingsOverlayOpen()"
  (backdropClick)="settingsOverlayOpen.set(false)"
>
<app-settings-overlay></app-settings-overlay>
</ng-template>