<mat-card class="card">
    <img mat-card-image [src]="item.snippet.thumbnails.high.url" alt="{{ item.snippet.title }}">
    <mat-card-content [style]="'padding: 0'">
      <div class="stats">
        <span><mat-icon>visibility</mat-icon> {{ item.statistics.viewCount }}</span>
        <span><mat-icon>favorite</mat-icon> {{ item.statistics.likeCount }}</span>
        <span><mat-icon>thumb_down</mat-icon> {{ item.statistics.dislikeCount }}</span>
        <span><mat-icon>comment</mat-icon> {{ item.statistics.commentCount }}</span>
      </div>
      <h3 matTooltip="{{item.snippet.title}}">{{ item.snippet.title }}</h3>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-fab>
        <mat-icon>more_vert</mat-icon>
        more...
      </button>
    </mat-card-actions>
</mat-card>
